:root {
  --background: 255, 255, 255; /* White */

  --border: 50, 50, 50; /* this is used as a thin border around blocks of items*/

  --card: 19, 255, 66; /* This is essentialy a background for blocks of items -light nature green*/
  --card-hover: 50, 255, 100; /* hover color for card -light sky blue*/

  --text-primary: 255, 0, 0; /* Black text */
  --text-secondary: 255, 163, 58; /* light orange */
}

.dark {
  --background: 0, 0, 0; /* Black */
  --border: 255, 163, 58; /* this is used as a thin border around blocks of items*/

  --card: 204, 51, 255; /* This is essentialy a background for blocks of items -red*/
  --card-hover: 204, 102, 255; /* hover color for card -light pink red*/

  --text-primary: 255, 255, 255; /* white text */
  --text-secondary: 255, 185, 33; /* light orange */
}

.card {
  background: rgb(var(--card));
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
  background: rgb(var(--card-hover));
  transform:translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  display: block;
  height: 100%;
  overflow: hidden;
}

.navbar {
  height: 8%;
  width: 95vw;
  border: 1px solid rgb(var(--border));
  border-radius: 4px; /* ~ rounded-2xl */
  padding-bottom: 2px;
  padding-top: 2px;
  display: flex
}

.home {
  height: 90vh;
  width: 90vw;
  border-radius: 8px; /* ~ rounded-2xl */
}

.ch1 {
  font-size: medium;
}